# exclude all dot files except .git, appveyor and travis files
.*
!.git*
!.appveyor*
!.editorconfig
!.vscode

# exclude binaries and temporary files
[Bb]in/
[Bb]uild*/
android/sysroot/

# User-specific files
*.user
*.user.props
*.nvuser
*.PVS-Studio.*

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# Android build files
android/local.properties
android/.gradle/
android/app/build/
android/app/src/main/jniLibs/
